/* ------------------------------------------- */

@keyframes rotateinsquare {
    0%   {background-color:#4285F4; transform: translate(0px, 0px) rotate(0deg) ;}
    25%  {background-color:#EA4335; transform: translate(200px, 0px) rotate(90deg) ;}
    50%  {background-color:#FBBC04; transform: translate(200px, 200px) rotate(180deg) ;}
    75%  {background-color:#34A853; transform: translate(0px, 200px) rotate(270deg) ;}
    100% {background-color:#4285F4; transform: translate(0px, 0px) rotate(360deg) ;}
}

#load {
    width: 100px;
    height: 100px;
    animation-name: rotateinsquare;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.center {
    width: 300px;
    height: 300px;
    margin:0 auto;
    position: relative;
    top: 50%;
    transform: translateY(100%);
}

/* ------------------------------------------- */

/**
 * A3D897 Light Green
 * 51A63D Green
 * A88FAC Light Purple
 * 66B3BA Light Blue
 * 7B287D Darker Purple
**/

/* body {
    background-color: #A3D897;
}

.contents {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contents p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contents a {
    text-decoration: none;
    border-bottom: 2px dotted #A88FAC;
    transition: border-bottom 0.5s;
}

.contents a:visited {
    color: black;
}

.contents a:hover {
    border-bottom: 2px solid #A88FAC;
} */